<section class="fade-in">
 
   <h1 id="genre-header" class="header">Discover new artists!</h1>
<div id="genre-cards" class="ui four stackable cards grid">
    {{#each genres}}
        <div class="eight wide column flexy">
        {{> genrecard}}
        </div>
    {{/each}}
</div>

</section>